《王国英雄志》：提取4399存档概述
20210820
游戏用名：雷风立方

Python读取和处理文件后缀为".sqlite"的数据文件 - lemonbit - 博客园
https://www.cnblogs.com/lemonbit/p/7078038.html

In [18]:
import sqlite3 #包

with sqlite3.connect('test_database.sqlite') as con:
    c = con.cursor()
    c.execute('''CREATE TABLE test_table
    (date text, city text, value real)''')
    for table in c.execute("SELECT name FROM sqlite_master WHERE type='table'"):
        print("Table", table[0])
    c.execute('''INSERT INTO test_table VALUES
    ('2017-6-25', 'bj', 100)''')
    c.execute('''INSERT INTO test_table VALUES
    ('2017-6-25', 'pydataroad', 150)''')
    c.execute("SELECT * FROM test_table")
    print(c.fetchall())

Table test_table
[('2017-6-25', 'bj', 100.0), ('2017-6-25', 'pydataroad', 150.0)]

In [20]:
#测试用，无效果
import pandas as pd

with sqlite3.connect('test_database.sqlite') as con:

    # read_sql_query和read_sql都能通过SQL语句从数据库文件中获取数据信息
    df = pd.read_sql_query("SELECT * FROM test_table", con=con)
    # df = pd.read_sql("SELECT * FROM test_table", con=con)

    print(df.shape)
    print(df.dtypes)
    print(df.head())

(2, 3)
date      object
city      object
value    float64
dtype: object
        date        city  value
0  2017-6-25          bj  100.0
1  2017-6-25  pydataroad  150.0

In [21]:
df

        date        city  value
0  2017-6-25          bj  100.0
1  2017-6-25  pydataroad  150.0

In [28]:
import pandas as pd

with sqlite3.connect('webappsstore.sqlite') as wgyx:

    # read_sql_query和read_sql都能通过SQL语句从数据库文件中获取数据信息
    df = pd.read_sql_query("SELECT * FROM webappsstore2", con=wgyx)
    # df = pd.read_sql("SELECT * FROM test_table", con=con)

    print(df.shape)
    print(df.dtypes)
    print(df.head())

(12507, 5)
originAttributes    object
originKey           object
scope               object
key                 object
value               object
dtype: object
  originAttributes               originKey                   scope  \
0                   moc.negumxq.:https:443  moc.negumxq.:https:443
1                   moc.negumxq.:https:443  moc.negumxq.:https:443
2                   moc.negumxq.:https:443  moc.negumxq.:https:443
3                   moc.negumxq.:https:443  moc.negumxq.:https:443
4                   moc.negumxq.:https:443  moc.negumxq.:https:443

                       key value
0  google_experiment_mod44   621
1             goog_pem_mod    73
2  google_experiment_mod54   600
3  google_experiment_mod53   697
4  google_experiment_mod47   742

In [29]:
df

,originAttributes,originKey,scope,key,value
0,,moc.negumxq.:https:443,moc.negumxq.:https:443,google_experiment_mod44,621
1,,moc.negumxq.:https:443,moc.negumxq.:https:443,goog_pem_mod,73
2,,moc.negumxq.:https:443,moc.negumxq.:https:443,google_experiment_mod54,600
3,,moc.negumxq.:https:443,moc.negumxq.:https:443,google_experiment_mod53,697
4,,moc.negumxq.:https:443,moc.negumxq.:https:443,google_experiment_mod47,742
...,...,...,...,...,...
12502,,moc.atadesaber.www.:https:443,moc.atadesaber.www.:https:443,ZD-suid,"{""id"":""17a5b27c4d1a9d2f7f9a35e9a6cc27fb"",""expi..."
12503,,moc.elgoog.www.:https:443,moc.elgoog.www.:https:443,sb_wiz.zpc.,"{""0"":[[""onlyfans news ban"",0,[362,143],{""zf"":3..."
12504,,moc.elgoog.www.:https:443,moc.elgoog.www.:https:443,sb_wiz.pq_tm,1629437734127
12505,,moc.elgoog.www.:https:443,moc.elgoog.www.:https:443,sb_wiz.pq,sqlite python 读取
12506,,moc.elgoog.www.:https:443,moc.elgoog.www.:https:443,sb_wiz.qc,2452

In [59]:
j=-1
j_=[]
for i in df['key']:
    j += 1
    if i[0:3]=='RPG':
        print(j,i)
        j_.append(j)

4337 RPG File20
4385 RPG Config
4386 RPG File18
4387 RPG File19
4400 RPG File7
4401 RPG File8
4402 RPG File9
4403 RPG File10
4404 RPG File11
4405 RPG File12
4406 RPG File13
4407 RPG File14
4408 RPG File15
4409 RPG File16
4410 RPG File17
4411 RPG File1
4412 RPG File2
4413 RPG File3
4414 RPG File4
4415 RPG File5
12382 RPG Global
12383 RPG File6

In [60]:
j_

[4337,
 4385,
 4386,
 4387,
 4400,
 4401,
 4402,
 4403,
 4404,
 4405,
 4406,
 4407,
 4408,
 4409,
 4410,
 4411,
 4412,
 4413,
 4414,
 4415,
 12382,
 12383]

In [65]:
with open('wgyxALL.txt', 'wt') as f:
    for jj in j_:
        print(df['key'][jj],df['value'][jj], file=f)
        print('\n\n\n', file=f)
        #input('')

In [72]:
namme=range(4,21)

In [73]:
for na in namme:
    with open('file'+str(na)+'.rpgsave', 'wt') as fnamme:
        print('\n', file=fnamme)